.hourly {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(24, 1fr);
}
.hourly__block--template {
  display: none;
}

.hourly__block {
  border: 2px solid black;
  border-radius: 10px;
}
